  @import "~bootstrap/scss/bootstrap";
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;   
   
     
}
body{
    font-family: 'Epilogue', sans-serif; 
    cursor: pointer; 
    background-color:hsl(206, 23%, 94%);
    scroll-behavior:smooth;
}





























