.projects{
    margin: 9rem 0 auto;
    }
    
    
    .projects > h1{
        text-align: center;
        text-transform: uppercase;
        color: hsl(277, 100%, 62%);
        margin-bottom: 2rem;
    }

    .projects-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:1rem;
        margin:0 3rem;
    
    }
    
    
    
    .projects-section > .project-one ,.project-two , .project-three , .project-four , .project-five , .project-six, .project-seven, .project-eight, .project-nine {
        background: #fafaff;
        width:100%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius:.3rem;
        text-align: center;
        padding-top:1rem ;
        
    
    }
    .projects-section > .project-one:hover ,.project-two:hover , .project-three:hover , .project-four:hover , .project-five:hover , .project-six:hover , .project-seven:hover, .project-eight:hover, .project-nine:hover {
        background:hsl(206, 23%, 94%) ;
    }
    
    
    .project-one > img {
        width:60%;
        border-radius: .5rem;
    
        
    }
    .project-two > img{
        width:60%;
        border-radius: .3rem;
    }
    .project-three > img {
        width:60%;
        border-radius: .3rem;
    }
    .project-four > img{
        width:60%;
        border-radius: .3rem;
    }
    .project-five > img{
      width:60%;
      border-radius: .3rem;
    }
     .project-six > img{
        width:60%;
        border-radius: .3rem;
    }
    .project-seven > img{
        width:50%;
        border-radius: .3rem;
    }
    .project-eight > img{
        width:60%;
        border-radius: .3rem;
    }
    
    .project-nine > img{
        width:80%;
        border-radius: .3rem;
    }
    
    
    .project-one > h4{
       color: hsl(272, 96%, 10%);
       padding-top: 1rem;
    }
    
    .project-one > .one-link{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding:1rem 2rem;
    }
    
    
    //Project-Two 
    
    .project-two > h4{
        padding-top: 1rem;
        color:hsl(272, 96%, 10%);
    }
    .project-two > .two-link{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding:1rem 2rem;
    }
    
    
    // Project Three
    .project-three > .three-link{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding:1rem 2rem;
        cursor: pointer;
    }
    
    
    
    .project-three > h4{
        padding-top: 1rem;
        color:hsl(272, 96%, 10%);
    }
    
    
    
    
    // Project Four
    .project-four > .four-link{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding:1rem 2rem;
    }
    
    .project-four > h4{
        padding-top: 1rem;
        color:hsl(272, 96%, 10%);
    }
    
    
    
    
      .btn--github , .btn--live{
        color:hsl(277, 100%,62%);
        border: none;
        text-align: center;
        background: #fafaff;
        padding:.5rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        cursor: pointer;
    }
    //Project Five 
    .project-five > .five-link{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding:1rem 2rem;
    }
    
    .project-five > h4{
        padding-top: 1rem;
        color:hsl(272, 96%, 10%);
    }
    
    
    
    
    
    .project-six > .six-link{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding:1rem 2rem;
    }
    
    
    
    .project-six > h4{
        padding-top: 1rem;
        color:hsl(272, 96%, 10%);
    }
        .project-six > .six-link{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding:1rem 2rem;
    }
    
    
    
    .project-seven > h4{
        padding-top: 1rem;
        color:hsl(272, 96%, 10%);
    }

    .project-seven > .seven-link{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding:1rem 2rem;
    }
    
    .project-eight > h4{
        padding-top: 1rem;
        color:hsl(272, 96%, 10%);
    }

    .project-eight > .eight-link{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding:1rem 2rem;
    }
    
    
    .project-nine > h4{
        padding-top: 1rem;
        color:hsl(272, 96%, 10%);
    }

    .project-nine > .nine-link{
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding:1rem 2rem;
    }
    
    
 

    @media (max-width:992px){
        .projects-section{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:1rem;
            margin:0 2rem;
        
        }
        .project-one > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
         .project-two > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
    
         .project-three > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
         .project-four > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
    
         .project-five > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
         .project-six > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
        //  project links
        .project-seven > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
         .project-eight > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
         .project-nine > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
       
    }
    
    @media (max-width:768px){
        .projects-section{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:1rem;
            margin:0 2rem;
        
        }
        
    }
    
    
    @media (max-width:600px){
        .projects-section{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap:1rem;
            margin:0 2rem;
        
        }

 .project-one > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
         .project-two > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
    
         .project-three > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
         .project-four > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
    
         .project-five > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
         .project-six > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }

         .project-seven  > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
         .project-eight > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }
         .project-nine > h4{
            color: hsl(272, 96%, 10%);
            padding-top: 1rem;
            font-size: .8rem;
         }


.one-link, .two-link , .three-link , .four-link , .five-link , .six-link , .seven-link , .eight-link , .nine-link{
    gap:2rem
}

}